body {
  font-size: 16px;
  /*color: #fff;*/
  background-color: #D2691E;
  /*font-family: 'Oxygen', sans-serif;*/
  font-family: 'Lora', serif;
}

/** HEADER **/
#header-nav {
  background-color: #808000;
  border-radius: 0;
  border: 0;
}
/*
#logo-img {
  background: url('../images/restaurant-logo_large.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}*/

.navbar-brand {
  padding-top: 15px;
}
.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #2F4F4F;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 0px;
}
#nav-list a {
  color: #2F4F4F;
  text-align: center;
}
#nav-list a:hover {
  background: #FFDEAD;
}
#nav-list a span {
  font-size: 1.4em;
}

h1, h3 {
  color: #696969;
  font-weight: bolder;
}

.Chicken {
  background-color: #DEB887;
  margin-top: 25px;
  color: #000000;
}

.container {
  width: 100%;
}
